body {
    background-color: rgb(128 149 255);
    font-size: 16px;
    font-family: system-ui;
}

main {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 60px auto;
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

button {
    border-radius: 20px;
    border: 0;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

button .icon {
    width: 20px;
}

button:hover {
    background-color: aliceblue;
}

button:active {
    background-color: rgb(230, 243, 253);
}

/* title */

h1 {
    margin-right: 5px;
}

#title-container .icon {
    width: 34px;
    cursor: default;
}

/* input container */

input {
    border: 0;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

#add-button {
    border-radius: 0 10px 10px 0;
}

/* info messages */

#info-container div {
    min-height: 21px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.error {
    animation: error-animation;
    animation-duration: 2s;
}

@keyframes error-animation {
    0%   {background-color: transparent;}
    25%  {background-color: red;}
    75%  {color: inherit}
    100% {
        background-color: transparent;
        color: transparent
    }
}

.success {
    animation: success-animation;
    animation-duration: 2s;
}

@keyframes success-animation {
  0%   {background-color: transparent;}
  25%  {background-color: greenyellow;}
  75%  {color: inherit}
  100% {
        background-color: transparent;
        color: transparent
    }
}

/* table */

#table-container {
    margin-top: 30px;
}

table {
    width: 340px;
}

tr {
    background-color: white;
    padding: 8px 8px 8px 16px;
    border-radius: 10px;
    display: flex;
    margin: 10px 0;
}

tr td:nth-child(1) {
    flex: 10;
    text-align: left;
}

tr td:nth-child(n + 2) {
    flex: 1;
    margin-right: 5px;
}

td {
    margin: auto;
}

.text-td {
        display: flex;
}

.text-td input {
    border: 1px solid black;
    border-right: 0;
}

.text-td button {
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 10px 10px 0;
}

/* icons */

.icon {
    width: 10px;
    cursor: pointer;
}

.icon-pen {
    content: url('../img/pen.svg');
}

.icon-trash-can {
    content: url('../img/trash-can.svg');
}

.icon-plus {
    content: url('../img/plus.svg');
}

.icon-pen-to-square {
    content: url('../img/pen-to-square.svg');
}

.icon-check {
    content: url('../img/check.svg');
}